<div class="auth-overlay" *ngIf="mode" (click)="close()">
  <div class="auth-card" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="close()">×</button>

    <h2 class="auth-title">{{ mode === 'login' ? 'Welcome Back' : 'Create Account' }}</h2>

    <div class="auth-form">

      <!-- USERNAME -->
      <input *ngIf="mode === 'register'"
             [(ngModel)]="username"
             (input)="validateUsername()"
             placeholder="Username"
             type="text">
      <div class="error" *ngIf="usernameError">{{ usernameError }}</div>


      <!-- EMAIL -->
      <input [(ngModel)]="email"
             (input)="validateEmail()"
             placeholder="Email Address"
             type="email">
      <div class="error" *ngIf="emailError">{{ emailError }}</div>


      <!-- PASSWORD -->
      <input [(ngModel)]="password"
             (input)="validatePassword()"
             placeholder="Password"
             type="password">
      <div class="error" *ngIf="passwordError">{{ passwordError }}</div>

      <!-- PASSWORD STRENGTH -->
      <div class="strength"
           *ngIf="mode==='register' && passwordStrength"
           [ngClass]="passwordStrength.toLowerCase()">
        {{ passwordStrength }}
      </div>


      <!-- CONFIRM PASSWORD (REGISTER ONLY) -->
      <input *ngIf="mode === 'register'"
             [(ngModel)]="confirmPassword"
             (input)="validateConfirmPassword()"
             placeholder="Confirm Password"
             type="password">
      <div class="error" *ngIf="confirmPasswordError">
        {{ confirmPasswordError }}
      </div>


      <!-- BUTTONS -->
      <button *ngIf="mode === 'login'"
              class="main-btn"
              (click)="handleLogin()">
        Login
      </button>

      <button *ngIf="mode === 'register'"
              class="main-btn"
              (click)="handleRegister()">
        Register
      </button>

    </div>

    <div class="auth-footer">
      <p *ngIf="mode === 'login'">
        New user? <a (click)="mode = 'register'">Sign up here</a>
      </p>

      <p class="forgot-link" *ngIf="mode === 'login'">
        <a routerLink="/forgot-password" (click)="close()">
          Forgot password?
        </a>
      </p>

      <p *ngIf="mode === 'register'">
        Already have an account? <a (click)="mode = 'login'">Log in here</a>
      </p>
    </div>

  </div>
</div>