<!-- HERO BANNER -->
 <app-user-header></app-user-header>
<section class="about-hero">
  <div class="hero-content">
    <span class="about-heading">Book Store</span>
    <p>
      Learn, grow, and explore new worlds with every read.
    </p>
  </div>
</section>


<section class="pc-services">
  <div class="pc-container">
    <div class="pc-cards-grid">
      <div class="pc-card">
        <div class="pc-icon">🚚</div>
        <h3>Free Shipping</h3>
        <p>We bring the right people together to challenge established think.</p>
      </div>

      <div class="pc-card pc-offset-card">
        <div class="pc-icon">💰</div>
        <h3>Best Prices</h3>
        <p>We bring the right people together to challenge established think.</p>
      </div>

      <div class="pc-card">
        <div class="pc-icon">⏱</div>
        <h3>60 Day Warranty</h3>
        <p>We bring the right people together to challenge established think.</p>
      </div>

      <div class="pc-card pc-offset-card">
        <div class="pc-icon">↩</div>
        <h3>Easy Returns</h3>
        <p>We bring the right people together to challenge established think.</p>
      </div>
    </div>

    <div class="pc-text">
      <span class="pc-sub">OUR SERVICES</span>
      <h2>About <span>Us</span></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mi orci, ultricies in tortor vitae, lacinia consectetur quam.</p>
      <p>Proin a mi auctor, dapibus dui ac, euismod nulla. Nullam faucibus ultrices eros.</p>
      <button class="pc-btn">VIEW ALL</button>
    </div>
  </div>
</section>