.about-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.485), #05360c98),
              url('src/assets/images/banner/bg4.png') center/cover no-repeat;
  padding: 80px 60px;
  border-radius: 20px;
  margin: 30px;
}

.hero-content {
  max-width: 520px;
  color: #fff;
}

.about-heading {
  font-size: 64px;
  font-weight: 800;
}

.hero-content p {
  font-size: 14px;
  line-height: 1.6;
}

.pc-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 40px;
}

.pc-cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.pc-card {
  width: 240px;
  min-height: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('src/assets/images/banner/bg4.png') center/cover no-repeat;
  border-radius: 18px;
  padding: 32px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pc-card:nth-child(even) {
  transform: translateY(30px);
}

.pc-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.pc-card:nth-child(even):hover {
  transform: translateY(25px) scale(1.03);
}

.pc-icon {
  font-size: 42px;
  margin-bottom: 15px;
  filter: brightness(0) invert(1);
  color: #ffffff;
  display: inline-block;
}

.pc-card h3 {
  margin: 18px 0 10px;
  font-size: 20px;
  color: #fff;
}

.pc-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #bdbdbd;
}

.pc-text {
  max-width: 560px;
}

.pc-sub {
  font-family: "Indie Flower", cursive;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: .08em;
  color:var(--secondary-font);
}

.pc-text h2 {
  font-size: 54px;
  line-height: 1.2;
  margin: 10px 0;
  color: #2d4342;
}

.pc-text h2 span {
  color: #4a6d6a;
}

.pc-text p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 20px;
}

.pc-btn {
  background: #4a6d6a;
  color: #fff;
  border: none;
  padding: 14px 40px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.pc-btn:hover {
  background: #385250;
}

/* RESPONSIVE QUERIES */

@media (max-width: 1024px) {
  .about-hero {
    margin: 15px;
    padding: 60px 40px;
  }

  .about-heading {
    font-size: 48px;
  }

  .pc-container {
    flex-direction: column;
    text-align: center;
    gap: 60px;
  }

  .pc-card:nth-child(even) {
    transform: translateY(0);
  }

  .pc-card:nth-child(even):hover {
    transform: scale(1.03);
  }
}

@media (max-width: 768px) {
  .pc-cards-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .pc-card {
    width: 80%;
    max-width: 350px;
  }

  .pc-text h2 {
    font-size: 38px;
  }
}

@media (max-width: 480px) {
  .about-hero {
    padding: 40px 20px;
    margin: 10px;
  }

  .about-heading {
    font-size: 32px;
  }

  .pc-text h2 {
    font-size: 28px;
  }

  .pc-btn {
    width: 100%;
  }
}