<app-user-header></app-user-header>


<!-- HERO (SAME AS SHOP PAGE – REUSED STYLE) -->
<section class="cart-hero">
  <div class="hero-content">

    <span class="shop-heading">My Cart</span>

    <p>
      Track all your purchases, order status, and order history in one place.
    </p>
  </div>
</section>



<section class="cart-container">

  <div *ngIf="loading" class="cart-loading">
    Loading your cart...
  </div>

  <div *ngIf="!loading && (!cart || cart.items?.length === 0)" class="empty-cart">
    Your cart is empty
  </div>

  <div *ngIf="cart && cart.items?.length">

    <div class="cart-item" *ngFor="let i of cart.items">
      <div class="item-info">

        <div class="book-preview-section">
          <div>
            <img class="logo-book-preview-img"
              [src]="i.imageUrl ? imageApi + i.id + '/image' : 'assets/book-placeholder.png'"
              [alt]="i.title" />
          </div>
          <div>
            <h3>{{ i.book.title }}</h3>
            <p class="price">₹ {{ i.book.price }}</p>
            <div class="quantity-controls">
              <button class="qty-btn" (click)="updateQuantity(i.book.id, i.quantity - 1)"
                [disabled]="i.quantity <= 1">-</button>

              <span class="qty-value">{{ i.quantity }}</span>

              <button class="qty-btn" (click)="updateQuantity(i.book.id, i.quantity + 1)">+</button>
            </div>
          </div>
        </div>
      </div>
      <button class="remove-btn" (click)="remove(i.book.id)">
        Remove
      </button>
    </div>
    <div class="cart-footer">
      <div class="total">
        Subtotal: ₹ {{ subtotal }}
      </div>

      <div class="actions">
        <button class="clear-btn" (click)="clearCart()">
          Clear Cart
        </button>

        <button class="pay-btn" (click)="openPayment()">
          Place Order Now
        </button>
      </div>
    </div>

  </div>
</section>

<!-- PAYMENT POPUP -->
<div class="payment-overlay" *ngIf="showPayment">
  <div class="payment-modal">

    <h3>Select Payment Method</h3>

    <button (click)="confirmPayment('UPI')">UPI</button>
    <button (click)="confirmPayment('Card')">Debit / Credit Card</button>
    <button (click)="confirmPayment('COD')">Cash on Delivery</button>

    <button class="close-btn" (click)="closePayment()">Cancel</button>

  </div>
</div>