<div class="top-bar">
  <div class="top-left">
    <a routerLink="/login" routerLinkActive="active-top">Login</a>
    <span>|</span>
    <a routerLink="/register" routerLinkActive="active-top">Register</a>
  </div>

  <div class="social-icons">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-google"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-github"></i>
    <i class="fab fa-slack"></i>
  </div>
</div>

<header class="main-header">
  <div class="logo">
    <img src="../../../../assets/Logo/Logo.png" alt="Logo">
  </div>

  <nav class="main-nav" [class.active]="isMenuOpen">
    <ul class="menu">
      <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
      <li><a routerLink="/aboutus" routerLinkActive="active-link">About Us</a></li>
      <li><a routerLink="/shop" routerLinkActive="active-link">Shop</a></li>
      <li><a routerLink="/cart" routerLinkActive="active-link">Cart</a></li>
      <li><a routerLink="/orders" routerLinkActive="active-link">Orders</a></li>
      <li><a routerLink="/wishlist" routerLinkActive="active-link">Wishlist</a></li>
      <li>
        <button class="logout-btn" (click)="logout()">Logout</button>
      </li>
    </ul>
  </nav>

  <button class="menu-toggle" (click)="isMenuOpen = !isMenuOpen">
    <i class="fas" [ngClass]="isMenuOpen ? 'fa-times' : 'fa-bars'"></i>
  </button>
</header>