<!-- TOP BAR -->
<div class="top-bar">

  <div class="nav-actions">

    <ng-container *ngIf="!isLoggedIn">
      <button class="auth-link" (click)="openLogin()">Login</button>
      <span class="v-divider"></span>
      <button class="auth-link" (click)="openRegister()">Join Now</button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <span class="welcome-text">
        <i class="fa-solid fa-envelope"></i> {{ username }}
      </span>
      <button class="logout-link" (click)="logout()">Logout</button>
    </ng-container>

  </div>

</div>


<header class="main-header" [class.shrink]="isScrolled">

  <div class="logo">
    <a routerLink="/home">
      <img src="../../../../assets/Logo/Logo.png" />
    </a>
  </div>

  <nav class="desktop-nav">
    <ul class="menu">

      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/aboutus">About</a></li>
      <li><a routerLink="/shop">Shop</a></li>

      <li><a (click)="protectedNav('/orders')">Orders</a></li>
      <li><a (click)="protectedNav('/wishlist')">Wishlist</a></li>

      <li>
        <a (click)="protectedNav('/cart')" class="icon-link">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </li>

      <!-- PROFILE -->
     <li class="profile-wrapper"
    (mouseenter)="onHoverEnter()"
    (mouseleave)="onHoverLeave()">

  <!-- PROFILE ICON -->
  <div class="avatar" (click)="toggleProfile($event)">
    {{ initials }}
  </div>

  <!-- DROPDOWN -->
  <div class="profile-dropdown" *ngIf="profileOpen">

    <ng-container *ngIf="isLoggedIn; else guest">

      <div class="dropdown-user">
        <div class="avatar-mini">{{ initials }}</div>
        <span>{{ username }}</span>
      </div>

      <a routerLink="/profile">Profile</a>
      <a routerLink="/orders">Orders</a>

      <a *ngIf="role==='ROLE_ADMIN'"
         routerLink="/admin">Admin</a>

      <button (click)="logout()">Logout</button>

    </ng-container>

    <ng-template #guest>
      <button (click)="openLogin()">Login</button>
      <button (click)="openRegister()">Register</button>
    </ng-template>

  </div>
</li>
    </ul>
  </nav>

  <!-- MOBILE -->
  <button class="hamburger" (click)="toggleMobileMenu()">
    <i class="fa-solid" [ngClass]="mobileMenuOpen ? 'fa-xmark' : 'fa-bars'"></i>
  </button>

</header>


<!-- MOBILE MENU -->
<div class="mobile-menu" [class.open]="mobileMenuOpen">

  <a routerLink="/home" (click)="closeMobileMenu()">Home</a>
  <a routerLink="/shop" (click)="closeMobileMenu()">Shop</a>

  <a (click)="protectedNav('/orders')">Orders</a>
  <a (click)="protectedNav('/wishlist')">Wishlist</a>

  <a (click)="protectedNav('/cart')">Cart</a>
  <a (click)="protectedNav('/profile')">Profile</a>

  <div class="mobile-auth">
    <ng-container *ngIf="!isLoggedIn">
      <button (click)="openLogin()">Login</button>
      <button (click)="openRegister()">Register</button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <span>{{ username }}</span>
      <button (click)="logout()">Logout</button>
    </ng-container>
  </div>

</div>