.footer {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.485), #05360c98),
              url("src/assets/images/banner/bg5.png") center/cover no-repeat;
  z-index: 1;
  overflow: hidden;
  padding: 80px 60px;
  border-radius: 20px;
  margin: 30px;
  height: auto; 
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: #354f52;
  opacity: 0.5;
  z-index: -1;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.footer-column h4 {
  font-weight: bold;
  margin-bottom: 26px;
  color: white;
  font-size: 22px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin: 12px 0;
}

.footer-column a {
  text-decoration: none !important;
  color: #fcfeff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: #bdbdbd;
}

.footer-column .badge {
  background-color: #4a6d6a;
  color: white;
  border-radius: 8px;
  padding: 2px 8px;
  font-size: 11px;
  margin-left: 5px;
}

.logo-img img {
  height: 120px !important;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 300px;
}

.subscribe-form button {
  width: 100%;
  padding: 12px 20px;
  background-color: #4a6d6a;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.footer-bottom {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 25px;
  text-align: center;
}

.footer-bottom p, .footer-bottom a {
  font-size: 14px;
  color: #fcfeff;
  text-decoration: none !important;
}

.social-icons i {
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  color: #fcfeff;
  transition: transform 0.3s;
}

.social-icons i:hover {
  transform: translateY(-3px);
  color: #4a6d6a;
}

@media (max-width: 992px) {
  .footer {
    margin: 20px;
    padding: 60px 30px;
  }
  .footer-container {
    text-align: center;
  }
  .logo-img img {
    margin: 0 auto 20px;
  }
  .subscribe-form {
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-column a {
    font-size: 16px;
  }
}