/* .footer {
  background-color: var( --primary-color);

  color: var(--bg-color);
  padding: 40px 20px;
  font-family: var(--font);
} */
.footer {
  position: relative;
  margin: 60px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.485), #05360c98),
    url("src\assets\images\banner\bg5.png") center/cover no-repeat;
  /* background: url('src\assets\images\banner\bg5.png'); */

  z-index: 1;
  overflow: hidden;
  padding: 80px 60px;
  border-radius: 20px;
  margin: 30px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #354f52;
  /* var(--primary-color); Global color overlay */
  opacity: 0.5; /* Adjust overlay strength */
  z-index: -1;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-column h4 {
  font-weight: bold;
  margin-bottom: 26px;
  color: white;
  font-size: 22px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin: 8px 0;
  font-size: 18px;
  color: #fcfeff;
}

.footer-column .badge {
  background-color: var(--accent-color);
  color: black;
  border-radius: 8px;
  padding: 2px 6px;
  font-size: 11px;
}

.logo-section .logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo-section .icon {
  margin-right: 10px;
  font-size: 30px;
}

.logo-section .copyright {
  margin-top: 24px;
  font-size: 12px;
  color: #fcfeff;
  max-width: 250px;
  line-height: 1.4;
}
.logo-img img {
  height: 120px !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.newsletter h4 {
  margin-bottom: 12px;
}

.subscribe-form {
  display: flex;
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.subscribe-form input {
  flex: 1;
  padding: 12px 10px;
  border: none;
  font-size: 14px;
  color: var(--text-color);
  outline: none;
}

.subscribe-form button {
  padding: 12px 7px;
  background-color: var(--accent-color);
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  border-top: 1px solid #1e293b;
}

.social-icons i {
  font-size: 18px;
  margin: 0 8px;
  cursor: pointer;
  color: #fcfeff;
  transition: color 0.3s;
}

.social-icons i:hover {
  color: var(--bg-color);
}

.footer p {
  color: white;
}
