<div class="scroll-top" 
     (click)="scrollToTop()" 
     [class.visible]="isVisible">
  <i class="fa fa-arrow-up"></i>
</div>
<footer class="footer">
  <section>
    <div class="footer-container">
      <div class="footer-column logo-section">
        <div class="logo">
          <div class="logo-img">
            <img src="../../../../assets/Logo/Logo.png" alt="Logo">
          </div>
        </div>
      </div>

      <div class="footer-column">
        <h4>PRODUCT</h4>
        <ul>
          <li><a routerLink="/shop">Shop</a></li>
          <li><a routerLink="/cart">Cart</a></li>
          <li><a routerLink="/wishlist">Wishlist</a></li>
          <li><a routerLink="/orders">My Orders</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>COMPANY</h4>
        <ul>
          <li><a routerLink="/aboutus">About Us</a></li>
          <li><a routerLink="/return-policy">Returns</a></li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
          <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
        </ul>
      </div>

      <div class="footer-column newsletter">
        <h4>STAY UP TO DATE</h4>
        <div class="subscribe-form">
          <button>Subscribe</button>
        </div>

        <div class="social-icons">
          <h4>Social:-</h4>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-google"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-github"></i>
          <i class="fab fa-slack"></i>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="footer-bottom">
      <div class="social-icons-right">
        <p class="copyright">
          2025© BookStore | 
          <a routerLink="/terms-conditions">Terms</a> | 
          <a routerLink="/privacy-policy">Policy</a>
        </p>
      </div>
    </div>
  </section>
</footer>