<app-user-header></app-user-header>

<!-- HERO BANNER -->
<section class="shop-hero">
  <div class="hero-content">
    <span class="shop-heading">Wishlist Page</span>
   
    <p>
           Elevate your wardrobe now!
    </p>
  </div>
</section>


<section class="wishlist-container"> 

  <div *ngIf="loading" class="wishlist-loading">
    Loading wishlist...
  </div>

  <div *ngIf="!loading && list.length === 0" class="empty-wishlist">
    Your wishlist is empty
  </div>

  <div class="wishlist-grid" *ngIf="!loading && list.length">

   <div class="wishlist-card" *ngFor="let w of list">
  <div class="book-preview-section">
    <img class="logo-book-preview-img"
      [src]="w.book.imageUrl ? imageApi + w.book.id + '/image' : 'assets/book-placeholder.png'"
      [alt]="w.book.title" />
    
    <div class="info">
      <h3>{{ w.book.title }}</h3>
      <p class="price">₹ {{ w.book.price }}</p>
    </div>
  </div>

  <abbr title="Remove form wishlist">
    <button class="heart-btn" 
            [class.removing]="w.isRemoving" 
            (click)="handleRemove(w)">
      <svg viewBox="0 0 24 24" class="heart-icon">
        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
      </svg>
    </button>
  </abbr>
</div>

  </div>
</section>
