/* ====================== BLOG ====================== */

.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.Famouse-book {
  font-family: "Indie Flower", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 12px;
  letter-spacing: .08em;
  color: var(--secondary-font);
  margin-bottom: 20px;
}

.blog-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.blog-card {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 16px;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* ====================== BLOG RESPONSIVE ====================== */

@media (max-width: 992px) {
  .blog-grid {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 576px) {
  .blog-card {
    width: 80%;
    max-width: 320px;
  }
}
