/* =======================
   TOP BAR
======================= */
.top-bar {
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.45), #05360c98),
              url("src/assets/images/banner/bg5.png") center/cover no-repeat;
  color: #fff;
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  flex-wrap: wrap;
}

.top-bar a {
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  margin: 0 5px;
}

.top-left {
  display: flex;
  align-items: center;
}

.social-icons i {
  font-size: 14px;
  margin: 0 8px;
  cursor: pointer;
  transition: color 0.3s;
}

.social-icons i:hover {
  color: var(--bg-color);
}

/* =======================
   HEADER
======================= */
.main-header {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo img {
  height: 60px;
}

/* =======================
   NAVIGATION
======================= */
.main-nav .menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.menu li a {
  font-weight: bold;
  color: var(--text-color);
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.menu li a:hover {
  color: var(--accent-color);
}

/* =======================
   LOGOUT BUTTON
======================= */
.logout-btn {
  background: #fff;
  border: 1px solid var(--primary-color);
  color: var(--bg-color);
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.logout-btn:hover {
  background: var(--primary-color);
  color: #fff;
}

/* =======================
   HAMBURGER MENU
======================= */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: var(--text-color);
}

/* =======================
   RESPONSIVE DESIGN
======================= */
@media (max-width: 992px) {

  .menu-toggle {
    display: block;
  }

  .main-nav {
    width: 100%;
  }

  .main-nav .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 1px solid #ddd;
    padding: 15px 0;
    box-shadow: var(--shadow);
    z-index: 99;
  }

  .main-nav.active .menu {
    display: flex;
  }

  .menu li {
    width: 100%;
    text-align: center;
  }

  .menu li a,
  .logout-btn {
    width: 100%;
    padding: 12px;
  }

  .top-bar {
    justify-content: center;
    gap: 10px;
  }

  .top-left,
  .social-icons {
    width: 100%;
    justify-content: center;
    display: flex;
  }
}

@media (max-width: 576px) {

  .logo img {
    height: 45px;
  }
  .main-nav{
    width: 0%;
  }
  .top-bar a {
    font-size: 14px;
  }

  .social-icons i {
    font-size: 12px;
  }
}
